*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
}
main {
    width: 31.25rem;
    max-width:37.5rem;
    height: 80dvh;
    margin: 0 auto;
    display: flex;
    place-items: center;
    justify-content: center;
}
main div:first-child {
    background-color: #695acc;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 28.125rem;
    padding: .9375rem .625rem;
    min-height: 12.5rem;
    border-radius: 12px;
    gap: 2.25rem;
    opacity: 1;
    transition: all .5s ease;
    &.fade {
        opacity: 0;
    }
}

img:not(.btns > img) {
    width: 6.25rem;
    height: 6.25rem;
    max-width: 100%;
    border-radius: 50%;
    margin-top: -4.1rem;
}
.username {
    align-self: flex-start;
}
.btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    & button {
        display: flex;
        align-items: end;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    }
}
.btns img{
     width: 2.5rem;
    z-index: 5000;
    height: 2.5rem;
}